
/* 4192022 Today work was about creting CSS and start the process of Style the webpages */
/* This is the Rafael R. Cordero Final Project for INFO LIS 472 575 Website*/
body {
    background-color: #E9EBEE;
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 58px;
}
/* This varible has the objective of arrange the picture and text.  */
 .flex {    
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
  border: 5px; color:black;
  padding: 0 1em; 
}
/* This is the title of the pages */
.h1{
  padding: 0 1em;
  font-family: 'Inconsolata',monospace;
  font-size: 27px;
}
/* This section has the objective of adjust the task in order to be more responsive */
div.a {
    max-width: 70rem;
    max-height: 70rem;
    border: 1px;
    word-wrap:break-word;  
    align-items: block;  
    padding: 0 1em; 
}
/* This section has the objective of define the size of the picture of the book and define the space around the picture. */
.first{
    height: 200px;
    width: 190px;
    float: left; margin-right: 10px; margin-bottom: 10px; margin-top: 10px ; 
     padding: 0 1em;         
/* This section is about the navigation bar: Home, about, etc. */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #708090;
    font-family:  'Orelega One', cursive;
  }  
  li {
    float: left;
  }  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    border: 1px solid black;
  }  
  li a:hover:not(.active) {
    background-color: #13a89cfb;
  }  
  .active {
    background-color: #BDB7AB;
    
  }
/* THis section is the footer */
 footer{
  position: absolute;
  bottom: 0%;
  height: 2.5 rem;
  width: 100%; 
  text-align: center;
  padding: 1px; 
  background-color: #808588;
  color:black;
  font-size: small;  
/* This section is the pagination */
} 
.pagination {
  display:inline-block;
  
}
.center{
  text-align: center;
}
.pagination a{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s; 
}
.pagination a.active {
  background-color: white;
}
.pagination a:hover:not(.active){background-color: #ddd;}
/* This is a code that have the objective to make the webpage more responsives to several devices and screen sizes */
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
/* This section is an effort to make more responsive the body of the webpage */
section{
  margin: auto;
  display: block;
  max-width: 60rem;
  max-height: 60rem;
  border: 2rem solid #b5babd;
  
}
/* This section is an effort to make more resposive the header */
header{
  margin: 0px;
  display: block;
  max-width: 1200px;
  margin: auto;
  border:transparent;
}
